@model LiveAdvertising.Models.Dto.StreamInfoDto

@{ ViewBag.Title = "Стрим";
                Layout = null; }

<link rel="stylesheet" href="~/css/watch.css" asp-append-version="true" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-lg-8">
            <iframe class="iframe-stream" width="100%" src="https://www.youtube.com/embed/@Model.GetSourceId()?autoplay=1" frameborder="0" allow="accelerometer;autoplay;clipboard-write;encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div id="close-wrapper">
                @if (User.Identity.IsAuthenticated && User.Identity.Name == Model.ShopName)
                {
    <button class="btn btn-danger" id="close">Завершить</button>            }
                <a asp-action="Index" asp-controller="Home" class="btn btn-success" id="to-index">На главную</a>
            </div>
        </div>
        <!-- Tabs navs -->
        <div class="col-lg-4">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fa fa-weixin"></i> Чат</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fa fa-list-alt"></i> Товары</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="position-relative">
                        <div id="chat-messages" class="p-4">
                            @foreach (var msg in Model.Messages)
                            {
                                if (msg.isAnswer)
                                {
                <div class="chat-message-left mb-4">
                    <div>
                        <img src="~/images/default_avatar.jpg" class="rounded-circle mr-1" width="40" height="40">
                        <div class="text-muted small text-nowrap mt-2">@msg.Time</div>
                    </div>
                    <div class="bg-light rounded py-2 px-3 ml-3">
                        <div class="font-weight-bold mb-1" style="color: red;">Магазин</div>
                        @msg.Text
                    </div>
                </div> }
                                else
                                {
                <div class="chat-message-left mb-4">
                    <div>
                        <img src="~/images/default_avatar.jpg" class="rounded-circle mr-1" width="40" height="40">
                        <div class="text-muted small text-nowrap mt-2">@msg.Time</div>
                    </div>
                    <div class="bg-light rounded py-2 px-3 ml-3">
                        <div class="font-weight-bold mb-1">Зритель</div>
                        @msg.Text
                    </div>
                </div>}
                            }
                        </div>
                    </div>
                    <div class="py-3 px-4 border-top">
                        <div class="input-group">
                            <textarea id="message" rows="3" class="form-control message-area" placeholder="Сообщение"></textarea>
                            @if (User.Identity.IsAuthenticated && User.Identity.Name == Model.ShopName)
                            {
                <button id="shop-send-button" class="btn btn-danger ml-2 send-button">Отправить</button> }
                            else
                            {
                <button id="user-send-button" class="btn btn-primary ml-2 send-button">Отправить</button>}
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <!--Товары-->
                    @foreach (var offer in Model.GetCatalog().Shops[0].Offers)
                    {
                        @if (offer.Price != null)
                        {
                            <div class="card" id="@offer.Id">
                            <div class="row">
                                <div class="col-4">
                                <img class="product-img" src="@offer.Image">
                            </div>
                            <div class="col-8">
                            <div class="card-body">
                            <h5 class="card-title">@offer.Name</h5>
                            @if (offer.Params != null)
                            {
                                <div class="card-text">
                                @foreach (var param in offer.Params)
                                {
                                    <b>@param.Name:</b> @param.Value <br />
                                }
                                </div>
                            }
                                    <div class="price-text">@offer.Price @offer.CurrencyId</div>
                                    <button class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Добавить в корзину</button>
                                </div>
                            </div>
                            </div>
                            </div>
                         }
                     }
                    <button class="btn btn-success mt-2"><i class="fa fa-external-link"></i> Купить</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#myTab li:last-child a').tab('show')
    })
</script>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>


<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script asp-append-version="true">
    let connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
    let id = location.pathname.split("/")[3];
    let userSendButton = document.getElementById("user-send-button");
    let shopSendButton = document.getElementById("shop-send-button");
    let chatMessages = document.getElementById("chat-messages");
    let closeButton = document.getElementById("close");

    chatMessages.scrollTop = chatMessages.scrollHeight;

    if (closeButton !== null) {
        closeButton.addEventListener("click", () => {
            connection.invoke("CloseStream", id);
            location.href = "/";
        });
    }

    connection.on("CloseStream", () => {
        alert("Стрим завершен");
        location.href = "/";
    });

    if (shopSendButton !== null) {
        shopSendButton.addEventListener("click", () => {
            let message = document.getElementById("message").value.trim();

            if (message !== "" || message !== undefined || message !== null) {
                connection.invoke("ShopSendMessage", id, message);

                let now = new Date();

                let chatMessage = document.createElement("div");
                chatMessage.innerHTML = "<div class=\"chat-message-right mb-4\">" +
                    "<div><img src=\"/images/default_avatar.jpg\" class=\"rounded-circle mr-1\" width=\"40\" height=\"40\">" +
                    "<div class=\"text-muted small text-nowrap mt-2\">" + now.getHours() + ":" + now.getMinutes() + "</div></div><div class=\"bg-light rounded py-2 px-3 ml-3 chat-message-text-right\" style=\"margin-right: 25px;\">" +
                    "<div class=\"font-weight-bold mb-1\" style=\"color: red;\">Магазин</div>" + message +
                    "</div></div>";

                chatMessages.appendChild(chatMessage);

                chatMessages.scrollTop = chatMessages.scrollHeight;
            }
        });
    }

    if (userSendButton !== null) {
        userSendButton.addEventListener("click", () => {
            let message = document.getElementById("message").value.trim();

            if (message !== "" || message !== undefined || message !== null) {
                connection.invoke("UserSendMessage", id, message);

                let now = new Date();
                let hours = now.getHours();
                let minutes = now.getMinutes();

                if (hours >= 0 && hours < 10) hours = "0" + hours;
                if (minutes >= 0 && minutes < 10) minutes = "0" + minutes;

                let chatMessage = document.createElement("div");
                chatMessage.innerHTML = "<div class=\"chat-message-right mb-4\">" +
                    "<div><img src=\"/images/default_avatar.jpg\" class=\"rounded-circle mr-1\" width=\"40\" height=\"40\">" +
                    "<div class=\"text-muted small text-nowrap mt-2\">" + hours + ":" + minutes + "</div></div><div class=\"bg-light rounded py-2 px-3 ml-3 chat-message-text-right\" style=\"margin-right: 25px;\">" +
                    "<div class=\"font-weight-bold mb-1\">Вы</div>" + message +
                    "</div></div>";

                chatMessages.appendChild(chatMessage);

                chatMessages.scrollTop = chatMessages.scrollHeight;
            }
        });
    }

    connection.start().then(() => {
        connection.invoke("AddToGroup", id);
    });

    connection.on("ShopSendMessage", (message, hourMinutes) => {
        let chatMessage = document.createElement("div");
        chatMessage.innerHTML = "<div class=\"chat-message-left mb-4\">" +
            "<div><img src=\"/images/default_avatar.jpg\" class=\"rounded-circle mr-1\" width=\"40\" height=\"40\">" +
            "<div class=\"text-muted small text-nowrap mt-2\">" + hourMinutes + "</div></div><div class=\"bg-light rounded py-2 px-3 ml-3\">" +
            "<div class=\"font-weight-bold mb-1\" style=\"color: red;\">Магазин</div>" + message +
            "</div></div>";

        chatMessages.appendChild(chatMessage);

        chatMessages.scrollTop = chatMessages.scrollHeight;
    });

    connection.on("UserSendMessage", (message, hourMinutes) => {
        let chatMessage = document.createElement("div");
        chatMessage.innerHTML = "<div class=\"chat-message-left mb-4\">" +
            "<div><img src=\"/images/default_avatar.jpg\" class=\"rounded-circle mr-1\" width=\"40\" height=\"40\">" +
            "<div class=\"text-muted small text-nowrap mt-2\">" + hourMinutes + "</div></div><div class=\"bg-light rounded py-2 px-3 ml-3\">" +
            "<div class=\"font-weight-bold mb-1\">Зритель</div>" + message +
            "</div></div>";

        chatMessages.appendChild(chatMessage);

        chatMessages.scrollTop = chatMessages.scrollHeight;
    });
</script>